<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://retlix.app/Retlix"
        version="1.2.4"
        viewmodes="maximized">

    <tizen:application
        id="sVPRCHljlj.Retlix"
        package="sVPRCHljlj"
        required_version="3.0"/>

    <content src="index.html"/>

    <feature name="http://tizen.org/feature/screen.size.all"/>

    <access origin="*" subdomains="true"/>

    <icon src="icon.png"/>

    <name>Retlix</name>

    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/avplay"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>

    <tizen:profile name="tv-samsung"/>

    <tizen:metadata
        key="http://samsung.com/tv/metadata/devel.api.version"
        value="3.0"/>

    <tizen:setting
        screen-orientation="landscape"
        context-menu="disable"
        background-support="disable"
        encryption="disable"
        install-location="auto"
        hwkey-event="enable"/>

</widget>
